* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}
html body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main input {
  display: none;
}
main .check--home:checked ~ .container2d .sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
main .check--home:checked ~ .menu .menu__option--home {
  color: white;
}
main .check--about:checked ~ .container2d .sections {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
main .check--about:checked ~ .menu .menu__option--about {
  color: white;
}
main .check--skills:checked ~ .container2d .sections {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .check--skills:checked ~ .menu .menu__option--skills {
  color: white;
}
main .check--contact:checked ~ .container2d .sections {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}
main .check--contact:checked ~ .menu .menu__option--contact {
  color: white;
}

header {
  height: 15%;
  border: dashed white 1px;
}

main {
  height: 85%;
  margin: auto;
}
main .container2d {
  height: 80%;
  border: dashed white 1px;
}
main .container2d .sections {
  height: 68%;
  width: 400%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
main .container2d .sections .section {
  width: 25%;
  height: 100%;
  position: absolute;
}
main .container2d .sections .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container2d .sections .home div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container2d .sections .about {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
main .container2d .sections .skills {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
main .container2d .sections .contact {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

.menu {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border: dashed white 1px;
}
.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 60px;
  font-size: 13px;
  color: #9F9F9F;
}
.menu li img {
  padding: 8px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .menu .menu {
    max-width: 650px;
  }
  .menu .menu li {
    width: 130px;
    font-size: 15px;
  }
}