.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opacity-full {
  opacity: 1;
}

.text-right {
  text-align: right;
}

.border-left {
  border-left: 2px solid white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main {
  height: 85%;
  margin: auto;
}

h1 {
  font-size: 30px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

h2, h3 {
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 8px;
}
@media screen and (min-width: 1024px) {
  h2, h3 {
    font-size: 35px;
  }
}

p {
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 25px;
  }
}

@-webkit-keyframes flicker {
  0%, 5%, 12%, 18%, 22%, 25%, 53%, 80%, 100% {
    opacity: 1;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #FDC23E, 0 0 80px #FDC23E;
  }
  3%, 14%, 20%, 24%, 40%, 55%, 60%, 70% {
    text-shadow: none;
    opacity: 0;
  }
}

@keyframes flicker {
  0%, 5%, 12%, 18%, 22%, 25%, 53%, 80%, 100% {
    opacity: 1;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #FDC23E, 0 0 80px #FDC23E;
  }
  3%, 14%, 20%, 24%, 40%, 55%, 60%, 70% {
    text-shadow: none;
    opacity: 0;
  }
}
input[type=radio] {
  display: none;
}

.check--home:checked ~ .container2d .container2d__sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.check--home:checked ~ .menu li:nth-child(1) {
  opacity: 1;
}

.check--about:checked ~ .container2d .container2d__sections {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
.check--about:checked ~ .menu li:nth-child(2) {
  opacity: 1;
}

.check--skills:checked ~ .container2d .container2d__sections {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.check--skills:checked ~ .menu li:nth-child(3) {
  opacity: 1;
}

.check--contact:checked ~ .container2d .container2d__sections {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}
.check--contact:checked ~ .menu li:nth-child(4) {
  opacity: 1;
}

input[type=text] {
  height: 40px;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 7px;
}
@media screen and (min-width: 1024px) {
  input[type=text] {
    height: 50px;
  }
}

input[type=submit] {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #9F9F9F;
  border: 2px white solid;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 2px;
  opacity: 50%;
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #FDC23E;
  opacity: 1;
}

header {
  height: 15%;
}

.container2d {
  height: 80%;
}
.container2d__sections {
  height: 68%;
  width: 400%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.container2d__sections__section {
  width: 25%;
  height: 100%;
  position: absolute;
}
.container2d__sections__about {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.container2d__sections__skills {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.container2d__sections__contact {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

.container2d__sections__home {
  overflow: hidden;
}
.container2d__sections__home__img {
  width: 110px;
  height: 240px;
}
.container2d__sections__home--top {
  gap: 30px;
}
.container2d__sections__home--top .top--img {
  border-right: 2px white solid;
  background-image: url("../img/imgizquierda2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.container2d__sections__home--top__text {
  height: 130px;
  padding: 8px;
}
.container2d__sections__home--top__text h1:nth-child(n) {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #FDC23E, 0 0 80px #FDC23E;
  -webkit-animation: flicker 4s cubic-bezier(0.21, 1.01, 1, 0.9) 1;
          animation: flicker 4s cubic-bezier(0.21, 1.01, 1, 0.9) 1;
}
.container2d__sections__home--top__text h1:nth-child(n) span {
  -webkit-animation: flicker 5s cubic-bezier(0.21, 1.01, 1, 0.9) infinite;
          animation: flicker 5s cubic-bezier(0.21, 1.01, 1, 0.9) infinite;
}
.container2d__sections__home--bottom {
  gap: 15px;
}
.container2d__sections__home--bottom__text {
  height: 130px;
  padding: 8px;
}
.container2d__sections__home--bottom .bottom--img {
  background-image: url("../img/imgderecha2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}
@media screen and (min-width: 1024px) {
  .container2d__sections__home--top, .container2d__sections__home--bottom {
    width: 850px;
    gap: 75px;
  }
  .container2d__sections__home--bottom {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .container2d__sections__home__img {
    width: 140px;
    height: 270px;
  }
}

.container2d__sections__about__text {
  padding: 20px;
  margin: 0 20px 20px;
}
.container2d__sections__about__text__p {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .container2d__sections__about__text {
    width: 650px;
  }
}

.container2d__sections__skills__text {
  width: 220px;
  padding: 5px;
  margin: 0 20px 20px;
}
.container2d__sections__skills__text__title {
  padding: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 25px;
}
.container2d__sections__skills__text__list {
  margin-left: 30px;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .container2d__sections__skills {
    gap: 40px;
  }
  .container2d__sections__skills__text {
    width: 300px;
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container2d__sections__skills__text__title {
    font-size: 30px;
  }
  .container2d__sections__skills__text__list {
    font-size: 25px;
  }
}

.container2d__sections__contact__links {
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container2d__sections__contact__links__link {
  width: 125px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container2d__sections__contact__links__link__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.container2d__sections__contact__form {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.container2d__sections__contact__form__title {
  font-size: 30px;
  padding: 15px;
  margin: 0 auto;
}
.container2d__sections__contact__form .input--message {
  height: 120px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .container2d__sections__contact {
    gap: 50px;
  }
  .container2d__sections__contact__links {
    width: 300px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }
  .container2d__sections__contact__links__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container2d__sections__contact__links__link__icon {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
  .container2d__sections__contact__form {
    width: 450px;
    height: 100%;
    margin: 0;
  }
  .container2d__sections__contact__form .input--message {
    height: 150px;
  }
}

.menu {
  height: 20%;
  gap: 25px;
  margin: auto;
}
.menu__option {
  width: 80px;
  height: 60px;
  font-size: 13px;
  opacity: 0.5;
}
.menu__option__icon {
  padding: 8px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .menu {
    max-width: 650px;
  }
  .menu__option {
    width: 150px;
    font-size: 15px;
  }
  .menu__option__icon {
    width: 48px;
    height: 48px;
  }
}