*{
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    color: white;
}

p{
    font-size: 19px;
}

/* Pseudoclases de enlaces */

a{
    color:aquamarine;
}

a:visited{
    color:black;
}

a:focus{
    border: dotted 2px white;
}

.crimson{
    color: crimson;
}

.crimson:visited{
    color:lime;
}

.link:hover{
    color: orange;
}

/* Pseudoclases de input */

.text_nombre{
    display: inline-block;
}

.prueba_robot p{
    display: none;
}

input{
    margin: 8px;
    padding: 5px;
}

label{
    font-size: 18px;
    margin: 8px;
    padding: 5px;
}

.texto{
    box-shadow: 0 0 3px 3px lavender;  /* box-shadow: ejeX ejeY desenfoque tamaño color; */
}

input:focus{
    border: dotted 3px black;
    box-shadow: 0 0 3px 5px grey,
                0 0 3px 5px white;
}

.checkbox:checked ~ p{  /* Todos los hermanos de tipo p actuan de esta forma al marcar el checkbox */
    display: block;
}

@media print{
    input:after{
        content: " - "attr(data-text);
    }
}


/* Especificidad */

p{
    color: red;
}

p span{
    color: fuchsia;
}

.foo{
    color: yellow;
}

span.foo{
    color: lime;
}

p a.foo{
    color: goldenrod;
}

.bar .foo{
    color:orange;
}

p.bar span.foo{
    color:hotpink
}

#foo{
    color:aquamarine;
}

span#foo{
    color: black;
}

.bar span#foo{
    color: white;
}

















