header {
    height: 10%;
}

.battery--charge {
    height: 100%;
    width: 100%;

    &__loader {
        width: 25%;
        height: 5px;
        border-radius: 2px;
        background-color: $orange;
        position: relative;
        // left: 25%;
        top: 50%;
    }

    &__steps {
        width: $icon-dimension-mobile;
        height: $icon-dimension-mobile;

        position: absolute;

        // @for $i from 1 through 4 {
        //     &:nth-child($i) {
        //         left: 
        //     }
        // }
    }
}
