// ------$HEADER

header {
    height: 10vh;
}

.circuit{
    height: 100%;
    width: 100%;
    margin: 0 auto;

    &__end {
        width: 50px;

        &__solar {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 900px) {
            width: 75px;

            &__solar {
                width: 75px;
                height: 75px;
            }
        }
    }

    &__loader {
        flex: 1;
        
        &__steps{
            flex: 1;

            &__step {
                flex: 0 0 25%;
                text-align: center;

                [class^="circuit__loader__steps__step__title"] {
                    font-size: $menu--font--size--mobile;
                    letter-spacing: 1px;
                    color: $grey;
                    transition: background-color 1s ease-in-out 1.7s;
                    transition: text-shadow 1s ease-in-out 1.7s;
                    margin-top: 30px;
                    cursor: pointer;

                    @media screen and (min-width: 800px) {
                        font-size: $menu--font--size--deskopt;
                    }
                }

                [class^="circuit__loader__steps__step__node"] {
                    transition: all .5s ease-in-out 1.7s;
                    width: 10px;
                    height: 10px;
                    background-color: $grey;
                    border-radius: 50%;
                }
            }
        }

        &__line {
            width: 12.5%;
            height: 3px;
            margin-top: -6px;
            z-index: -1;
            border-radius: 2px;
            background-color: $white;
            box-shadow: 
            0 0 4px $white,
            0 0 11px $orange,
            0 0 40px $orange,
            0 0 80px $orange;
            transition: width 2s ease-in-out;
        }
    }
}
