header {
    height: 10%;
}

.battery--charge {
    height: 100%;
    width: 80%;
    margin:0 auto;

    &__loader {
        width: 80%;
        margin: 0 auto;
        position: absolute;
        z-index: -1;

        &__line {
            width: 3px;
            height: 3px;
            border-radius: 2px;
            background-color: $white;
            position: absolute;
            top: 5%;
            box-shadow: 
            0 0 4px $white,
            0 0 11px $orange,
            0 0 40px $orange,
            0 0 80px $orange;

            transition: width 2s linear;
        }
    }

    &__steps {
        width: 50px;
        height: 50px;
        background-color: $black;
        border: solid $white 2px;
        border-radius: 50%;
        box-shadow: 
        0 0 4px $white,
        0 0 11px $orange;  
        opacity: 0;

        transition: opacity .2s 1s;

        &__step {
            width: $icon-dimension-mobile;
            height: $icon-dimension-mobile;
            margin: auto auto;
        }
    }
}
