main {
    height: 90vh;
    margin: auto;
    overflow: hidden;
}

// ------$SECTIONS
.container2d {
    // height: 90%;
    margin-top: 20px;

    &__sections {
        height: 77%;
        width: 400%;
        position: absolute;
        transition: transform 2s ease-in-out;

        &__section {
            width: 25%;
            height: 100%;
            position: absolute;  
            overflow: hidden; 
        }

        &__about {
            transform: translateX(100%);
        }

        &__skills {
            transform: translateX(200%);
        }

        &__contact {
            transform: translateX(300%);
        }
    }
}   