// ------$SECTIONS
.container2d {
    height: 80%;

    &__sections {
        height: 68%;
        width: 400%;
        position: absolute;
        transition: transform .5s ease-in-out;

        &__section {
            width: 25%;
            height: 100%;
            position: absolute;   
        }

        &__about {
            transform: translateX(100%);
        }

        &__skills {
            transform: translateX(200%);
        }

        &__contact {
            transform: translateX(300%);
        }
    }
}   