main {

    .nav--container {
        height: 20%;
        border: 1px dashed $white;
        background-color: $black;
        display: flex;
        justify-content: center;
    

        .menu {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
        }

        .menu li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 40px;
            font-size: $menu--font--size--mobile;
            color: $grey;

            img {
                padding: $padding;
            }

            input {
                // display: none;

                &.check--home:checked {
                    main .container2d .sections {
                        transform: translateX(0);
                    }
                }

                &.check--about:checked {
                    main .container2d .sections {
                        transform: translateX(-100%);
                    }
                }

                &.check--skills:checked {
                    main .container2d .sections {
                        transform: translateX(-200%);
                    }
                }

                &.check--contact:checked {
                    main .container2d .sections {
                        transform: translateX(-300%);
                    }
                }
            }
        }


        @media screen and (min-width: 1024px) {
            .menu {
                max-width: 650px;

                li {
                    width: 130px;
                    font-size: $menu--font--size--deskopt;
                }
            }
        }
    }
}