.menu {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 60px;
        font-size: $menu--font--size--mobile;
        opacity: .5;

        img {
            padding: $padding;
            width: $icon-dimension;
            height: $icon-dimension;
        }
    }


    @media screen and (min-width: 1024px) {
        .menu {
            max-width: 650px;

            li {
                width: 130px;
                font-size: $menu--font--size--deskopt;
            }
        }
    }
}