// ------ $MENU
.menu {
    height: 15%;
    gap: 25px;
    margin: auto;

    &__option {
        width: 80px;
        height: 60px;
        opacity: .5;
        list-style: none;

        &__label {

            cursor: pointer;

            &__icon {
                padding: $padding;
                width: $icon-dimension-mobile;
                height: $icon-dimension-mobile;
            }

            &__title {
                font-size: $menu--font--size--mobile;
            }
        }
    }


    @media screen and (min-width: 1024px) {
        max-width: 650px;

        &__option {
            width: 150px;

            &__label {

                &__icon {
                    width: $icon-dimension-deskopt;
                    height: $icon-dimension-deskopt;
                }
    
                &__title {
                    font-size: $menu--font--size--deskopt;
                }
            }
        }
    }
}