* {
    box-sizing: border-box;
}

/************ $HTML *****************/

html, body {
    height: 100%;
}

/***************** $BODY *************/

body {
    font-size: 22px;
    background-color: cornflowerblue;
}

/***************** $grid structure  ********************/


/* Grid container */

.grid__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width:100%;
    margin-bottom: 5px;
}

/* Grid items */

.grid__item {
    border: 1px solid black;
    padding:20px;
    margin: 5px;
    background-color:white;
}

/* Grid item with 100% width */

.width-100 {
    flex: 100%;
}

/* Grid item with 50% width */

.width-50 {
    flex:50%;
}

/* Grid item with 25% width */

.width-25 {
    flex:25%;
}

/******************** Media queries *********************/

/* One column in mobile 
*
*   This media query makes the grid layout change to one column
*   and all its items have 100% screen width when is used in
*   mobile devices
*
*/
@media screen and (max-width:400px) {
    .width-50 {
        flex: 100%;
    }

    .width-25 {
        flex: 100%;
    }
}