// -------$ABOUT

.container2d__sections__about {

    &__text {
        padding: 15px;
        margin: 0 10px 10px;
        text-align: center;

        &__p {
            padding: 10px;
        }
    }

    &__line {
        width: 50%;
    }

    @include tablet-landscape-dimensions {
        &__text {
            width: 650px;
        }
    }
}
