// -------$HOME
.container2d__sections__home {
    
    overflow: hidden;
    gap: 10px;

    &__img {
        width: 100px;
        height: 200px;
        overflow: hidden;
    }

    &--top {
        gap: 20px;

        .top--img {
            border-right: 2px $white solid;
            background-image: url("../img/imgizquierda2.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
        }

        &__text {
            height: 130px;
            padding: $padding;

            & h1:nth-child(n) {
                text-shadow:
                    0 0 4px #fff,
                    0 0 11px #fff,
                    0 0 40px $orange,
                    0 0 80px $orange;
                animation: flicker 4s cubic-bezier(.21,1.01,1,.9) 1;

                & span {
                    animation: flicker 5s cubic-bezier(.21,1.01,1,.9) infinite;
                }
            }
        }
    }

    &--bottom {
        gap: 5px;

        &__text {
            height: 130px;
            padding: $padding;
        }

        .bottom--img {
            background-image: url("../img/imgderecha2.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom left;
        }
    }

    @media screen and (min-width: 1024px) {

        &--top, &--bottom {
            width: 850px;
            gap: 75px;
        }

        &--bottom {
            justify-content: right;
        }

        &__img {
            width: 140px;
            height: 270px;
        }
    }
}

