.container2d__sections__home {
    gap: 20px;

    img {
        width: 110px;
        height: 240px;
    }

    section {
        padding: $space;
    }

    &--top {
        &__text {
            height: 130px;
            & h1:nth-child(n) {
                text-shadow:
                    0 0 4px #fff,
                    0 0 11px #fff,
                    0 0 40px $orange,
                    0 0 80px $orange;
                animation: flicker 4s cubic-bezier(.21,1.01,1,.9) 1;

                & span {
                    animation: flicker 5s cubic-bezier(.21,1.01,1,.9) infinite;
                }
            }
        }
    }

    &--bottom {
        &__text {
            height: 130px;
        }
    }
}

