// ------$INPUTS
input[type="radio"] {
    display: none;
}

.check--home:checked {
    & ~ main .container2d .container2d__sections{
        transform: translateX(0);
    }

    & ~ main .menu li:nth-child(1) {
        opacity: 1;
    }

    & ~ header .circuit__loader__steps__step__node--home {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__title--home {
        color: $white;
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }
}

.check--about:checked {
    & ~ main .container2d .container2d__sections{
        transform: translateX(-25%);
    }

    & ~ main .menu li:nth-child(2)  {
        opacity: 1;
    }

    & ~ header .circuit__loader__line {
        width: 37.5%;
    }

    & ~ header .circuit__loader__steps__step__node--about {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--home {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__title--about {
        color: $white;
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }
}

.check--skills:checked {
    & ~ main .container2d .container2d__sections{
        transform: translateX(-50%);
    }

    & ~ main .menu li:nth-child(3)  {
        opacity: 1;
    }

    & ~ header .circuit__loader__line {
        width: 62.5%;
    }

    & ~ header .circuit__loader__steps__step__node--skills {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--about {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--home {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__title--skills {
        color: $white;
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }
}

.check--contact:checked {
    & ~ main .container2d .container2d__sections{
        transform: translateX(-75%);
    }

    & ~ main .menu li:nth-child(4) {
        opacity: 1;
    }

    & ~ header .circuit__loader__line {
        width: 87.5%;
    }

    & ~ header .circuit__loader__steps__step__node--contact {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--skills {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--about {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__node--home {
        background-color: $white;
        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }

    & ~ header .circuit__loader__steps__step__title--contact {
        color: $white;
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 18px $orange,
            0 0 25px $orange;
    }
}


input[type="text"] {
    height: 40px;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 7px;

    @media screen and (min-width: 1024px) {
        height: 50px;
    }
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: $grey;
    border: 2px white solid;
    border-radius: 30px;
    color:white;
    font-size: 20px;
    font-family: $main--title--font--family;
    letter-spacing: 2px;
    opacity: 50%;
    cursor: pointer;

    transition: all .5s ease-out;

    &:hover, &:focus {
        background-color: $orange;
        opacity: 1;
    }
}

