main {
    input {
        display: none;
    }

    .check--home:checked {
        & ~ .container2d .sections {
            transform: translateX(0);
        }

        & ~ .menu .menu__option--home {
            opacity: 1;
        }
    }

    .check--about:checked {
        & ~ .container2d .sections {
            transform: translateX(-25%);
        }

        & ~ .menu .menu__option--about {
            opacity: 1;
        }
    }

    .check--skills:checked {
        & ~ .container2d .sections {
            transform: translateX(-50%);
        }

        & ~ .menu .menu__option--skills {
            opacity: 1;
        }
    }

    .check--contact:checked {
        & ~ .container2d .sections {
            transform: translateX(-75%);
        }

        & ~ .menu .menu__option--contact {
            opacity: 1;
        }
    }
}
