// -------$SKILLS
.container2d__sections__skills {

    flex-direction: column;
    gap: 10px;

    &__text {
        width: 200px;
        padding: 5px;
        margin: 0 5px 5px;
        text-align: center;

        &__title {
            padding: 10px 10px 5px 10px;
            border-bottom: 2px solid $white;
        }

        &__list {
            font-size: $body--font--size--mobile;
            list-style: none;
            padding-top: 5px;
        }
    }

    @media screen and (min-width: 700px) {
        flex-direction: row;

        &__text {
            width: 250px;
            height: 200px;
            align-items: center;

            &__list {
                font-size: $body--font--size--deskopt;
            }
        }
    }
}