// -------$SKILLS
.container2d__sections__skills {

    flex-direction: column;
    gap: 10px;

    &__text {
        width: 200px;
        padding: 5px;
        margin: 0 5px 5px;
        text-align: center;

        &__title {
            padding: 10px 10px 5px 10px;
            border-bottom: 2px solid $white;
        }

        &__list {
            list-style: none;
            padding-top: 5px;
        }
    }

    @include tablet-landscape-dimensions {
        flex-direction: row;

        &__text {
            width: 300px;
            height: 200px;
            align-items: center;
        }
    }
}
